TELEGRAM_BOT_API=123456:replace-me
# Leave empty to talk to Telegram without VPN
VLESS_URL=vless://uuid@host:443?type=tcp&security=reality&sni=example.com&fp=chrome&pbk=PUBLIC_KEY&sid=SHORT_ID&flow=xtls-rprx-vision#name
ADMIN_USERNAME=@Fliutch
ADMIN2_USERNAME=@benifactor
LIBRARY_DIR=/books
